header{
  background-color: #F5F1E3;
}

.SecUno{
  background-color: #F5F1E3;
}

.SecDos{
  background-color: #214E34;
}

.SecTres{
  background-color: #F5F1E3;
}

footer{
  background-color: #214E34;
}

